
{% if app.request.attributes.get('_route') == 'app_main' %}
<nav class="navbar white">
    <div class="navbar__left">
        <a href="{{ path('app_main') }}" class="navbar__logo"><img src="{{ asset('images/static/logo.png') }}" alt=""/></a>
    </div>
    <div class="navbar__right">
        <ul class="navbar__menu">
            <li class="navbar__menu-item"><a href="{{ path('app_main') }}">Accueil</a></li>
            <li class="navbar__menu-item"><a href="{{ path('app_meal') }}">Les Plats</a></li>
            {% if app.user %}
            <li class="navbar__menu-item navbar__menu-item--dropdown">
                <li class="navbar__menu-item"><a href="{{ path('user.dashboard', {id : app.user.id}) }}">Mon compte</a></li>
            </li>
            {% else %}
                <li class="navbar__menu-item"><a href="{{ path('security.login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% else %}
    <nav class="navbar green">
        <div class="navbar__left">
            <a href="{{ path('app_main') }}" class="navbar__logo"><img src="{{ asset('images/static/logo.png') }}" alt=""></a>
        </div>
        <div class="navbar__right">
            <ul class="navbar__menu">
                <li class="navbar__menu-item"><a href="{{ path('app_main') }}">Accueil</a></li>
                <li class="navbar__menu-item"><a href="{{ path('app_meal') }}">Les Plats</a></li>
                {% if app.user %}
                    <li class="navbar__menu-item"><a href="{{ path('user.dashboard', {id : app.user.id}) }}">Mon compte</a></li>
                {% else %}
                    <li class="navbar__menu-item"><a href="{{ path('security.login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endif %}