<nav class="navbar">
    <div class="navbar__left">
        <a href="{{ path('app_main') }}" class="navbar__logo">Burgerdi</a>
    </div>
    <div class="navbar__right">
        <ul class="navbar__menu">
            <li class="navbar__menu-item"><a href="{{ path('app_main') }}">Accueil</a></li>
            <li class="navbar__menu-item"><a href="{{ path('app_meal') }}">Les Plats</a></li>
            {% if app.user %}
            <li class="navbar__menu-item navbar__menu-item--dropdown">
                <a href="#">{{ app.user.firstname }}</a>
                <ul class="navbar__dropdown">
                <li class="navbar__dropdown-item"><a href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a></li>
                <li class="navbar__dropdown-item"><a href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a></li>
                <li class="navbar__dropdown-item"><a href="#">Déconnexion</a></li>
                </ul>
            </li>
            {% else %}
                <li class="navbar__menu-item"><a href="{{ path('security.login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


