{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">


    <div class="content" style="width: 100%; display: flex; justify-content:space-around; align-items:center; margin:40px 0">
        <a href="{{ path('category.new') }}" class="btn">Ajouter une categorie</a>
        <a href="{{ path('app_agency') }}" class="btn">Liste des agences</a>
        <a href="{{ path('app_meal') }}" class="btn">Liste des plats</a>
    </div>

    {% for message in app.flashes('success') %}
        <div class="flash-notice" style="width: 100%; padding: 1rem 3rem; background-color: #00a600d9; display: flex; justify-content: center; align-items: center; border-radius: 0 20px; margin-bottom: 80px;">
            {{ message }}
        </div>
    {% endfor %}

   <table style="width: 100%; text-align:center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Modification</th>
                    <th>Suppression</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    
                    <td> 
                        <a href="{{ path('category.edit', {id: category.id}) }}" class="btn">Modifer</a>
                    </td>
                    <td> 
                        <a href=" {{ path('category.delete', {id: category.id}) }} " class="btn">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
       </table>
</div>
{% endblock %}
