{% extends 'base.html.twig' %}

{% block title %}Burgerdi - Dashboard{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <div class="container block-dashboard">

        <div class="section-dashboard">
            <div class="menu-dashboard">
                <p><a href="{{ path('user.dashboard', {id : app.user.id}) }}">Mon compte</a></p>

                {% if is_granted('ROLE_ADMIN')%}
                    <p><a href="{{ path('meal.new') }}">Ajouter un plat</a></p>
                    <p><a href="{{ path('app_agency') }} ">Les restaurants</a></p>
                    <p><a href="{{ path('app_category') }}">Les categories</a></p>
                {% endif %}

                <p><a href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a></p>
                <p><a href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a></p>
                <p><a href="{{ path("security.logout") }}">Déconnexion</a></p>
            </div>
            <div class="content-dashboard">

                <h1>Les catégories </h1>
                <div class="section-btn count-btn">
                    <p>Il y a <span class="bold">{{ categories.getTotalItemCount }} catégorie(s).</span>  </p>
                    <a href="{{ path('category.new') }}" class="openss">Ajouter une categorie</a>
                </div>

                <table style="width: 100%; text-align:center">
                    <thead>
                        <tr class="openss">
                            <th>Nom</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            
                            <td> 
                                <a href="{{ path('category.edit', {id: category.id}) }}" class="btn">Modifer</a>
                            </td>
                            <td> 
                                <a href=" {{ path('category.delete', {id: category.id}) }} " class="btn">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                    <div class="navigation">
                        {{ knp_pagination_render(categories) }}
                    </div>
                {% include "components/_message_flash.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}
