{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">



        <h1>Formulaire de modification des informations </h1>


        {% for message in app.flashes('Warning') %}
            <div class="flash-notice" style="width: 100%; padding: 1rem 3rem; background-color: orange; display: flex; justify-content: center; align-items: center; border-radius: 0 20px; margin-bottom: 80px;">
                {{ message }}
            </div>
        {% endfor %}

        <form name="user_password" method="post">
            <div class="row">
                <div class="col">
                    {{ form_label(form.plainPassword)}}
                    {{ form_widget(form.plainPassword )}}
                    <div class="form-error">
                        {{ form_errors(form.plainPassword) }}
                    </div>
                </div>
                <div class="col">
                    {{ form_widget(form.newPassword )}}
                    <div class="form-error">
                        {{ form_errors(form.newPassword) }}
                    </div>
                </div>
                {{ form_row(form._token) }}
                <button type="submit" id="user_password_Submit" name="user_password[Submit]" class="btn">Modifier</button>
            </div>
        </form>


    </div>
    
{% endblock %}
