{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">



        <h1>Formulaire de modification des informations </h1>


        {% for message in app.flashes('Warning') %}
            <div class="flash-notice" style="width: 100%; padding: 1rem 3rem; background-color: orange; display: flex; justify-content: center; align-items: center; border-radius: 0 20px; margin-bottom: 80px;">
                {{ message }}
            </div>
        {% endfor %}

        <form name="user_password" method="post">
            <div class="row">
                <div class="col">
                    {{ form_label(form.lastname)}}
                    {{ form_widget(form.lastname )}}
                    <div class="form-error">
                        {{ form_errors(form.lastname) }}
                    </div>
                </div>
                <div class="col">
                    {{ form_label(form.firstname)}}
                    {{ form_widget(form.firstname )}}
                    <div class="form-error">
                        {{ form_errors(form.firstname) }}
                    </div>
                </div>
                <div class="col">
                    {{ form_label(form.email)}}
                    {{ form_widget(form.email )}}
                    <div class="form-error">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="col">
                    {{ form_label(form.phone)}}
                    {{ form_widget(form.phone )}}
                    <div class="form-error">
                        {{ form_errors(form.phone) }}
                    </div>
                </div>
                <div class="col">
                    {{ form_label(form.city)}}
                    {{ form_widget(form.city )}}
                    <div class="form-error">
                        {{ form_errors(form.city) }}
                    </div>
                </div>
                <div class="col">
                    {{ form_label(form.plainPassword)}}
                    {{ form_widget(form.plainPassword )}}
                    <div class="form-error">
                        {{ form_errors(form.plainPassword) }}
                    </div>
                </div>
                {{ form_row(form._token) }}
                <button type="submit" id="user_Enregistrer" name="user[Enregistrer]" class="btn">Modifier</button>
            </div>
        </form>

    </div>
    
{% endblock %}
