{% extends 'base.html.twig' %}

{% block body %}


    <div class="container block-dashboard">

        <div class="section-dashboard">
            <div class="menu-dashboard">
                <p><a href="{{ path('user.dashboard', {id : app.user.id}) }}">Mon compte</a></p>

                {% if is_granted('ROLE_ADMIN')%}
                    <p><a href="{{ path('meal.new') }}">Ajouter un plat</a></p>
                    <p><a href="{{ path('app_agency') }} ">Les restaurants</a></p>
                    <p><a href="{{ path('app_category') }}">Les categories</a></p>
                {% endif %}

                <p><a href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a></p>
                <p><a href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a></p>
                <p><a href="{{ path("security.logout") }}">Déconnexion</a></p>
            </div>
            <div class="content-dashboard">

                <h1>Modification du mot de passe </h1>

                <form name="user_password" method="post">
                    <div class="row">
                        <div class="col">
                            {{ form_widget(form.plainPassword, {'attr': {'placeholder': 'Mot de passe actuel'}})}}
                            <div class="form-error">
                                {{ form_errors(form.plainPassword) }}
                            </div>
                        </div>
                        <div class="col">
                            {{ form_widget(form.newPassword.first, {'attr': {'placeholder': 'Nouveau mot de passe'}}) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.newPassword.second, {'attr': {'placeholder': 'Confirmation du nouveau mot de passe'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.newPassword) }}
                            </div>
                        </div>
                        {{ form_row(form._token) }}
                        <div class="section-btn">
                            <button type="submit" id="user_password_Submit" name="user_password[Submit]" class="btn">Modifier le mot de passe</button>
                        </div>
                    </div>
                </form>
                {% include "components/_message_flash.html.twig" %}
            </div>
        </div>
    </div>

    
{% endblock %}
