{% extends 'base.html.twig' %}

{% block title %}Burgerdi - agency{% endblock %}

{% block body %}


    <div class="container block-dashboard">

        <div class="section-dashboard">
            <div class="menu-dashboard">
                <p><a href="{{ path('user.dashboard', {id : app.user.id}) }}">Mon compte</a></p>

                {% if is_granted('ROLE_ADMIN')%}
                    <p><a href="{{ path('meal.new') }}">Ajouter un plat</a></p>
                    <p><a href="{{ path('app_agency') }} ">Les restaurants</a></p>
                    <p><a href="{{ path('app_category') }}">Les categories</a></p>
                {% endif %}

                <p><a href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a></p>
                <p><a href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a></p>
                <p><a href="{{ path("security.logout") }}">Déconnexion</a></p>
            </div>
            <div class="content-dashboard">

                
                <h1>Les restaurants</h1>

                <div class="section-btn count-btn">
                    <p>Il y a <span class="bold">{{ agencies.getTotalItemCount }} catégorie(s).</span>  </p>
                    <a href="{{ path('agency.new') }}" class="openss">Ajouter un restaurant</a>
                </div>

                <table  style="width: 100%; text-align:center">
                    <thead>
                        <tr class="openss">
                            <th>Nom</th>
                            <th>Ville</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agency in agencies %}
                        <tr>
                            <td>{{ agency.name }}</td>
                            <td>{{ agency.city }}</td>
                            <td>
                                <a href="{{ path('agency.edit', {id: agency.id}) }}" class="btn">Modifier</a> 
                            </td>
                            <td>
                                <a href="{{ path('agency.delete', {id: agency.id}) }}" class="btn">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include "components/_message_flash.html.twig" %}

                    <div class="navigation">
                        {{ knp_pagination_render(agencies) }}
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
