{% extends 'base.html.twig' %}

{% block body %}
<style>
</style>

<div class="container">

    <h2>Un plat</h2>
    
    {% for message in app.flashes('success') %}
        <div class="flash-notice" style="width: 100%; padding: 1rem 3rem; background-color: #00a600d9; display: flex; justify-content: center; align-items: center; border-radius: 0 20px; margin-bottom: 80px;">
            {{ message }}
        </div>
    {% endfor %}


    <table style="width: 100%; text-align:center">

            
            {% if meal.average == null %}
                <p>Pas de note</p>
            {% else %}
                <p>Note: {{ meal.average | number_format(1, '.', ',') }}/5</p>
            {% endif %}

            <div>
                <img style="max-width:100%" src="{{ vich_uploader_asset(meal, 'imageFile')}}" alt="">
            </div>
            
            <p>{{ meal.name }}</p>
            <p>{{ meal.description }}</p>
            <p>Calorie : {{ meal.calorie | default('Ø') }}kCal </p>
            <p>Prix : {{ meal.price }}€ </p>
            <p><i>{{ meal.createAt | date("d-m-Y H:i", "Europe/Paris") }}</i></p>


            <div class="notice">
                {{ form(form)}}
            </div>



            {# {{ dump(meal)}} #}
            {{ meal.comment }}

</div>
{% endblock %}
