{% extends 'base.html.twig' %}

{% block title %}
    Burgerdi - {{ meal.name }}
{% endblock %}


{% block body %}

<div class="container">


    {# <a href="{{ path('meal.edit', {id: meal.id})}}" class="btn">Modifier</a> #}

    <div class="grid-meal">

        <div class="grid-meal__image">
            <img src="{{ vich_uploader_asset(meal, 'imageFile')}}" alt="">
        </div>

        <div class="grid-meal__info-agency">
            <div class="content-info">

                <div class="title-agency">
                    <p>{{ meal.agency }}</p>
                </div>

                <div class="address-agency openss">
                    <p>{{ meal.address }}, {{ meal.city }}</p>
                </div>
                <div class="webite-agency openss">
                    <a href="{{ meal.website }}" target="_blanck">Cliquer ici pour accéder à leur site</a>
                </div>

                <div class="categories-agency openss">
                    <p class="strong">Categorie(s) :</p>
                    {% for category in meal.idCategory %}
                        {% if category.name %}
                            <span>{{ category.name }}</span>
                        {% else %}
                            <p>Pas de catégories</p>
                        {% endif %}
                    {% endfor %}
                    {# <p>{{ meal.categories }}</p> #}
                </div>
                <div class="resume-notices openss">
                    {% if meal.average == null %}
                        <p>Pas de note</p>
                    {% else %}
                        <p>Note: {{ meal.average | number_format(1, '.', ',') }}/5</p>
                    {% endif %}

                    <p>Il y a .. commentaire(s)</p>

                </div>
            </div>
        </div>

        <div class="grid-meal__info-meal">

            <div class="title-meal">
                <p>{{ meal.name }}</p>
            </div>

            <div class="desc-meal openss">
                <p>{{ meal.description | nl2br }}</p>
            </div>
            <div class="other-info__flex openss">

                <p class="price">Prix : {{ meal.price | number_format(2, '.', ',') }}€ </p>
            
                <p class="calorie">Calorie : {{ meal.calorie | default('Ø') }}kCal </p>     
            </div>
            <div class="date">
                <p><i>Publié le {{ meal.createAt | date("d-m-Y", "Europe/Paris") }}</i></p>
            </div>

        </div>

            {% if app.user %}
                <div class="grid-meal__info-comment openss">
                    <div class="notice">
                        <form name="notice" method="post">
                            <h2>Et toi ? T'en pense quoi ? Dit le nous..</h2>
                            <div class="col-rating">
                                {{ form_widget(form.rating )}}
                                <div class="form-error">
                                    {{ form_errors(form.rating) }}
                                </div>
                            </div>
                            <div class="col-comment">
                                {{ form_widget(form.comment )}}
                                <div class="form-error">
                                    {{ form_errors(form.comment) }}
                                </div>
                            </div>

                            {{ form_row(form._token)}}
                            <div class="submit-comment">
                                <button type="submit" id="notice_Submit" name="notice[Submit]" class="btn">Commenter</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                {# L'utilisateur n'est pas connecté #}
                <div class="grid-meal__info-comment openss">
                    <div class="notice">
                        <form name="notice" method="post">
                                <h2>Et toi ? T'en pense quoi ? Dit le nous..</h2>
                                <p>Pour accéder à cette zone secrète, il faut d'abord se connecter à la matrix !</p>

                            <div class="submit-comment">
                                <a href="{{ path('security.login') }}" class="btn">Se connecter</a>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>

        {% for message in app.flashes('success') %}
            <div class="flash-notice" style="width: 100%; padding: 1rem 3rem; background-color: #37784F; display: flex; justify-content: center; align-items: center; border-radius: 0 20px; margin-bottom: 80px;">
                {{ message }}
            </div>
        {% endfor %}

        <div class="section-notice">
            <h3 class="notice-title">Les avis du {{ meal.name }}</h3>

            <div class="all-notice">
                {% for notice in meal.notices %}
                    <div class="one-notice">
                        <div class="user-date">
                            <p class="username">{{ notice.user.firstname }} {{ notice.user.lastname | slice(0, 3) }}***</p>
                            <p class="date-created"><i>{{ notice.createdAt | date("d-m-Y H:i", "Europe/Paris") }}</i></p>
                        </div>
                        <div class="comment openss">
                            <p>{{ notice.comment }}</p>
                        </div>
                        <div class="rating openss">
                            <p>{{ notice.user.firstname }} a décidé de mettre un {{ notice.rating }}/5</p>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
